{% extends 'SteppieAppBundle::layout.html.twig' %}

{% block page_header %}
    <ol class="breadcrumb">
        <li><a href="{{ path('steppie_app_project_index') }}">{{ 'project.list'|trans }}</a></li>
        <li class="active">{{ project.name }}</li>
    </ol>

    <div class="clearfix">
        <form class="form-inline pull-left" action="{{ path('steppie_app_project_main', { project: project.id }) }}" id="select-owners-form">
            <div class="form-group">
                <select class="form-control" name="owners[]" data-placeholder="{{ 'select.owners.label'|trans }}" multiple style="width:250px">
                    {% for name in owners.all %}
                        <option value="{{ name }}" {% if name in owners.selected %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
                <div class="btn-group">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    <a class="btn btn-default" href="{{ path('steppie_app_project_main', { project: project.id }) }}"><i class="fa fa-ban"></i></a>
                </div>
            </div>
        </form>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="">{{ 'matter.new'|trans }}</a></li>
                <li><a href="">{{ 'matter.list'|trans }}</a></li>
                <li><a href="">{{ 'step.edit'|trans }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_row %}
    <div class="table-responsive">
        <table class="table table-hover table-steppie">
            <thead>
            <tr>
                <th>{{ 'matter.id'|trans }}</th>
                {% for matter in matters %}
                    <td>{{ matter.id }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ 'matter.name'|trans }}</th>
                {% for matter in matters %}
                    <td>
                        {{ matter.name }}
                        {% if matter.description is not empty %}
                            <span data-toggle="tooltip" data-placement="top" title="{{ matter.description }}">
                                <i class="fa fa-info-circle"></i>
                            </span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ 'matter.owners'|trans }}</th>
                {% for matter in matters %}
                    <td>
                        {% for owner in matter.owners %}
                            <span class="label label-default label-xs">{{ owner }}</span>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for step in steps %}
                <tr>
                    <th>
                        {% if step.link is not empty %}
                            <a href="{{ step.link }}" target="_blank">{{ step.name }}</a>
                        {% else %}
                            {{ step.name }}
                        {% endif %}
                        {% if step.description is not empty %}
                            <span data-toggle="tooltip" data-placement="top" title="{{ step.description }}">
                                <i class="fa fa-info-circle"></i>
                            </span>
                        {% endif %}
                    </th>
                    {% for matter in matters %}
                        <td>
                            {% if contents[matter.id][step.id] is defined %}
                                <div class="edit-content">
                                    {% set content = contents[matter.id][step.id] %}
                                    <a class="link">{{ content.value }}</a>
                                    <div class="form has-feedback" style="display:none;">
                                        <input class="form-control input-sm" type="text" data-content-id="{{ content.id }}" data-matter-id="{{ matter.id }}" data-step-id="{{ step.id }}" value="{{ content.value }}"/>
                                        <span class="form-control-feedback" style="display:none;"><i class="fa fa-spinner fa-spin"></i></span>
                                    </div>
                                </div>
                            {% else %}
                                <p class="btn btn-success btn-xs btn-done" data-matter-id="{{ matter.id }}" data-step-id="{{ step.id }}">{{ 'done'|trans }}</p>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="edit-content-prototype">
            {% filter escape %}
            <div class="edit-content">
                <a class="link"></a>
                <div class="form has-feedback" style="display:none;">
                    <input class="form-control input-sm" type="text"/>
                    <span class="form-control-feedback" style="display:none;"><i class="fa fa-spinner fa-spin"></i></span>
                </div>
            </div>
            {% endfilter %}
        </div>

        <div id="btn-done-prototype">
            {% filter escape %}
            <p class="btn btn-success btn-xs btn-done">{{ 'done'|trans }}</p>
            {% endfilter %}
        </div>
    </div>
{% endblock %}

{% block head_style %}
    {% stylesheets filter='less,cssrewrite'
    '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css'
    '@SteppieAppBundle/Resources/public/less/style.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block foot_script_assetic %}
    {% javascripts
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    'https://raw.githubusercontent.com/jmosbech/StickyTableHeaders/master/js/jquery.stickytableheaders.min.js'
    '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js'
    '@SteppieAppBundle/Resources/public/js/script.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>
    {% endjavascripts %}
{% endblock %}
